body {
    font-family: Arial;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 20px;
    width: 1000px;
    margin: auto;
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 17px;
}

.action-button {
    vertical-align: middle;
    margin-left: 19px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 17px;
}

.edit-button {
    background-color: #FFB343;
    color: black;
}

.delete-button {
    background-color: #FF0000;
}
.action-img {
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-left: 20px;
}
.eye-img {
    width: 36px;
}
.administrator-details {
    position: absolute;
    width: 800px ;
    height: 400px;
    margin-top: 300px;
    margin-left: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px;
}



