body {
    font-family: Arial;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}
.add-administrator-button {
    width: 200px;
    height: 44px;
    margin-left: 350px;
    margin-bottom: 20px;
    background-color: mediumseagreen;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.add-administrator-button:hover {
    background-color: darkgreen;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 20px;
    width: 1500px;
    margin: auto;
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 17px;
}

th, td {
    padding: 8px;

}


.action-button {
    vertical-align: middle;
    margin-left: 19px;
    text-align: center;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.details-button:hover{
    background-color: darkblue;
}

.edit-button {
    background-color: #FFB343;
    color: black;
}
.edit-button:hover {
    background-color: #FFD700;
}

.delete-button {
    background-color: #FF0000;
    width: 145px;
}
.delete-button:hover{
    background-color: #850101;
}
.action-img {
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-left: 20px;
}
.eye-img {
    width: 36px;
}

.administrator-details {
    position: relative;
    width: 600px ;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px;
    margin-left: 660px;
    margin-top: 20px;
}

.details-header {
    margin-left: 30px;
    height: 100vh;
}

.cross-image {
    margin-left: 540px;
    margin-top: 25px;
    width: 30px;
    height: 30px;
}

.hide {
    display: none;
}

.administrator-edit {
    box-shadow: 10px 10px 10px 10px;
    width: 600px ;
    height: 600px;
    margin: auto ;
}

.administrator-delete {
    box-shadow: 10px 10px 10px 10px;
    width: 600px;
    height: 600px;
    margin: auto ;
}

.administrator-add {
    box-shadow: 10px 10px 10px 10px;
    width: 600px;
    height: 600px;
    margin: auto;
}

.div-delete-button {
    background-color: darkred;
    justify-content: center;
}