body {
    font-family: Arial;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #040273 ;
}

.add-administrator-button {
    width: 220px;
    height: 44px;
    margin-left: 350px;
    margin-bottom: 20px;
    background-color: mediumseagreen;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.add-administrator-button:hover {
    background-color: darkgreen;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 20px;
    width: 1500px;
    margin: auto;
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 17px;
}

th, td {
    padding: 8px;
}

.action-button {
    vertical-align: middle;
    margin-left: 19px;
    text-align: center;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #2b50ec;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.details-button:hover{
    background-color: #2b50ec;
}

.edit-button {
    background-color: #FFB343;
    color: black;
}
.edit-button:hover {
    background-color: #FFD700;
}

.delete-button {
    background-color: #B30000;
    width: 145px;
}

.delete-button:hover {
       background-color: #850101;
}

.div-add-button {
    background-color: mediumseagreen;
    width: 220px;
    height: 44px;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.div-add-button:hover {
    background-color: darkgreen;
}

.div-edit-button {
    background-color: #FFB343;
    color: black;
}

.div-edit-button:hover {
    background-color: #FFD700;
}

.div-delete-button {
    background-color: #FF0000;
    width: 145px;
}
.div-delete-button:hover{
    background-color: #850101;
}

.action-img {
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-left: 20px;
}
.eye-img {
    width: 36px;
}

add-img{
    width: 3px;
    height: 15px;
}

.administrator-details {
    position: fixed;
    background-color: white;
    box-shadow: 10px 10px 10px 10px;
    width: 600px ;
    height: 600px;
    margin-left: 600px;
    margin-top: 100px;
    text-align: center;
}

.cross-image {
    margin-left: 540px;
    margin-top: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hide {
    display: none;
}

.administrator-edit {
    position: fixed;
    background-color: white;
    box-shadow: 10px 10px 10px 10px;
    width: 600px ;
    height: 600px;
    margin-left: 600px;
    margin-top: 100px;
    text-align: center;
}

.administrator-delete {
    position: fixed;
    background-color: white;
    box-shadow: 10px 10px 10px 10px;
    width: 600px ;
    height: 600px;
    margin-left: 600px;
    margin-top: 100px;
    text-align: center;
}

.administrator-add {
    position: fixed;
    background-color: white;
    box-shadow: 10px 10px 10px 10px;
    width: 600px;
    height: 600px;
    margin-left: 600px;
    margin-top: 100px;
    text-align: center;
}

.button {
    background-color: none;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    text-align: center;
    }
    
 .dark-mode-toggle {
        position: absolute;
        top: 60px;  
        right: 20px; 
        background-color: none;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    

.dark-mode {
        background-color: rgb(46, 46, 46);
        color: white;
    }
    
.dark-mode .popup-content {
        background-color: #333;
        color: white;
    }
    
.dark-mode .column {
        background-color: #222;
        color: white;
    }
    
.dark-mode .table-clickable tbody tr:nth-child(even) {
        background-color: #444;
    }
    
.dark-mode .table-clickable tbody tr:hover {
        background-color: #666;
    }

.dark-mode table,
.dark-mode th,
.dark-mode td  {
    border-color: white;
}

.dark-mode .administrator-add,
.dark-mode .administrator-delete,
.dark-mode .administrator-details,
.dark-mode .administrator-edit {
    background-color: black;
    color: white;
    box-shadow: none;
}

.dark-mode .popup-content h1, 
.dark-mode .modal-content h1, 
.dark-mode .js-details h1, 
.dark-mode .js-edit h1, 
.dark-mode .js-delete h1, 
.dark-mode .js-add h1 {
    color: white !important;
}

.dark-mode .cross-image {
    content: url("/static/images/whitecross.png");
}