:root {
  --white: #fff;
  --darkblue: #1b4965;
  --blue: #3b91c3;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
body
{
  background: #f5f5f5;

}

.column {
  float: left;
  width: 32%;
  padding: 10px;
  margin: 5px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 150px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
  position: relative;
}

section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
}

section h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

section h4 {
    font-size: 18px;
    margin-bottom: 0px;
    color: #444;
}

section label {
    display: block;
    font-size: 14px;
    margin-bottom: 0px;
    color: #666;
}

section p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #333;
}

/* TABLE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.table-clickable {
  text-align: left;
  border-collapse: collapse;
  border-left: 1px solid var(--darkblue);
  border-right: 1px solid var(--darkblue);
  margin: 20px auto;
}

.table-clickable th,
.table-clickable tbody a {
  padding: 20px 10px;
}

.table-clickable th {
  color: var(--white);
  background: var(--darkblue);
}

.table-clickable tbody a {
  display: block;
  text-decoration: none;
  transition: all 0.25s ease-out;
}

.table-clickable tbody tr:not(:first-child) td {
  border-top: 1px solid var(--darkblue);
}

.table-clickable tbody tr:last-child td {
  border-bottom: 1px solid var(--darkblue);
}

.table-clickable tbody tr:hover {
  color: var(--white);
  background: var(--blue);
}

/*modal style*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}