* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}
h1
{
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    color: #000000;
    margin: 0 0 30px 0;
}

.form-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 500px;
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
form input {
    height: 26px;
    border-radius: 3px;
    border: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}
form label 
{
    margin-bottom: 10px;
    margin-top: 10px;
}
form textarea
{
    resize: none;
    height: 150px;
    width: 250px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.datumvanaf
{
    position: relative;
    left: -70px;
    top: 13px;
}
.datumtot
{
    position: relative;
    top: -31px;
    left: 70px;
}
.leeftijdvan
{
    position: relative;
    left: -100px;
}
.leeftijdtot
{
    position: relative;
    top: -44px;
    left: 100px;
}
.custom_select
{

    border-radius: 3px;
    border: 2px solid black;
    padding:2px;
    margin-bottom: 5px;
}
.custom_select optgroup
{
    color: #0000FF;
}
.custom_select option
{
    color: black;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .dark-mode {
    background-color: rgb(46, 46, 46);
    color: white;
}

.dark-mode .popup-content {
    background-color: #333;
    color: white;
}

.dark-mode .column {
    background-color: #222;
    color: white;
}

.dark-mode .table-clickable tbody tr:nth-child(even) {
    background-color: #000000;
}

.dark-mode .table-clickable tbody tr:hover {
    background-color: #000000;
}

button .dark-mode-toggle{
    background-color: none;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    text-align: center;
    }
    
    .dark-mode-toggle {
        position: absolute;
        top: 60px;  
        right: 20px; 
        color: white;
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: none;
    }

    .dark-mode form,
    .dark-mode h1 {
        background-color: black;
    }

    .dark-mode .button {
        background-color: white;
        color: black;
    }