* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0;
  align-items: center;
  font-size: 16px;
  background-color: rgb(250, 253, 253);
  margin-bottom: 160px;
  color: black;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

.header-container {
  dislay: flex;
  margin-top: 50px;
}

form {
  margin-top: 50px;
  background-color: white;
  padding: 50px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 10px lightgray;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-bottom: 100px;
}

.form-container {
  display: grid;
  grid-template-columns: 200px 300px;
  row-gap: 30px;
}

.button {
  background-color: black;
  width: 220px;
  height: 40px;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #383838;
}

.dark-mode {
  background-color: rgb(46, 46, 46);
  color: white;
}

.dark-mode .popup-content {
  background-color: #333;
  color: white;
}

.dark-mode .column {
  background-color: #222;
  color: white;
}

.dark-mode .button {
  background-color: white;
  color: black;
}

.dark-mode .table-clickable tbody tr:nth-child(even) {
  background-color: #444;
}

.dark-mode .table-clickable tbody tr:hover {
  background-color: #666;
}

.button {
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
  }
  
  .dark-mode-toggle {
      position: absolute;
      top: 50px;  
      right: 20px; 
      color: white;
      padding: 10px 20px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .dark-mode form {
      background-color: black;
  }