
body {
    font-family: Arial;
    font-size: 16px;
    background-color: rgb(250, 253, 253);
    margin-bottom: 160px;
    color: black;
}

h1 {
    text-align: center;
    margin-bottom: 70px;
}

.js-error-message{
    color: #ff3333;
    font-weight: bold;

}

.js-sign-up {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 50px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 10px lightgray;
}

.button {
     color: white;
     color: black;
     padding: 10px 10px;
     font-size: 16px;
     cursor: pointer;
     display: inline-block;
     margin-bottom: 15px;
     text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

input {
    height: 30px;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgb(240, 243, 243);
}

.button-disabilities{
    color: white;
    background-color: black;
    border-radius: 6px;
    height: 30px;
    font-size: 16px;

}


textarea {
    width: 500px;
    height: 150px;
    background-color: rgb(240, 243, 243);
}

.supervisor-info {
    display: grid;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

select {
    border-radius: 4px;
    width: 100px ;
    height: 30px;
    font-size: 14px;
    margin-top: 14px;
}
.hide {
    display: none;
}

.js-gender-input {
    display: flex;
    align-items: center;

}

.js-gender-input p {
    margin-bottom: 100px;
    align-items: center;
}

.gender-label {
    display: flex;
    margin: 40px;
    width: 25px;
}


.submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-button {
    margin: 60px auto 0 auto;
    border-radius: 4px;
    background-color: black;
    color: white;
    border: none;
    width: 300px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.submit-button:hover {
    background-color: #383838 ;
    color: white;
    cursor: pointer;
}



.sign-up {
    display: grid;
    margin-top: 100px;
    margin-left: 0;
}

.normal {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.normal label {
    margin-bottom: 20px;
    margin-top: 10px;
}
.normal input {
    width: 500px;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 100px;
    margin: 0;
}

.dropdown-content{
    position: absolute;
    z-index: 1;
    width: 500px;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white; /* This creates the downward arrow */
    margin-left: 5px;
}

.down {
    margin-left: 20px;
}


  .dark-mode {
    background-color: rgb(0, 0, 0);
    color: white;
}

.dark-mode .popup-content {
    background-color: #333;
    color: white;
}

.dark-mode .column {
    background-color: #222;
    color: white;
}

.dark-mode .table-clickable tbody tr:nth-child(even) {
    background-color: #444;
}

.dark-mode .table-clickable tbody tr:hover {
    background-color: #666;
}


    .dark-mode-toggle {
        position: absolute;
        top: 60px;
        right: 20px;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .dark-mode form {
        background-color: black;
    }

    .dark-mode .js-sign-up {
        background-color: rgb(47, 47, 47);
        color: white;
        box-shadow: none;
    }
