<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overzicht beheerders</title>
    <link rel="stylesheet" href="../static/css/administrators-overview.css">
</head>
<body>
    <h1> Beheerders overzicht</h1>
    <table class="administrator-table">
        <tr>
            <th>Naam</th>
            <th>Details</th>
            <th>Bewerken</th>
        </tr>
        <tr>
            <td>Michael van gerwen</td>
            <td><button>Details</button></td>
            <td><button>Edit</button><button>Delete</button></td>
        </tr>
    </table>
    <script></script>
</body>
</html>