<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Overzicht beheerders</title>
    <link rel="stylesheet" href="../static/css/administrators-overview.css">
</head>

<body>
    <div class="js-background background hide"></div>

      <div class="js-add administrator-add hide">
        <img class="js-cross-image cross-image" src="../static/images/cross.svg">
        <h1>Toevoegen</h1>
        <div>
            <label for="fname-input">Voornaam:</label>
            <input class="js-fname-input" id="fname-input">
            <label for="lname-input">Achternaam:</label>
            <input class="js-lname-input" id="lname-input">
            <label for="email-input">E-mailadres:</label>
            <input class="js-email-input" id="email-input">
            <button class="div-add-button action-button js-add-button" type="submit">Toevoegen<img class="action-img add-img" src="../static/images/add-icon.svg"></button>
        </div>
    </div>

    <div class="administrator-details js-details hide">
        <img class="js-cross-image cross-image" src="../static/images/cross.svg">
        <h1 class="details-header">Details</h1>
        <p>Naam: Michael van Gerwen</p>
        <p>E-mailadres:</p>
    </div>

     <div class="js-edit administrator-edit hide">
        <img class="js-cross-image cross-image" src="../static/images/cross.svg">
        <h1>Bewerken</h1>
        <p>Naam: Michael van Gerwen</p>
        <p>E-mailadres:</p>
         <button class="div-edit-button action-button" type="submit">Bewerken<img class="action-img" src="../static/images/edit-icon-2.png"></button>
    </div>

    <div class="js-delete administrator-delete hide">
        <img class="js-cross-image cross-image" src="../static/images/cross.svg">
        <h1>Verwijderen</h1>
        <p>Naam: Michael van Gerwen</p>
        <p>E-mailadres:</p>
        <button class="div-delete-button action-button" type="submit">Verwijderen<img class="action-img" src="../static/images/bin-icon.png"></button>
    </div>

    <h1> Beheerders overzicht</h1>
    <button class="add-administrator-button">Beheerder toevoegen<img class="action-img add-img" src="../static/images/add-icon.svg"></button>
    <table class="administrator-table">
        <thead class="table-th">
        <tr>
            <th>Naam</th>
            <th>E-mail</th>
            <th>Bewerken</th>

        </tr>
        </thead>
        <tbody class="table-td">
        <tr>
            <td>Michael van gerwen</td>
            <td>Michael_Gerwen@outlook.com</td>
            <td><button class="action-button details-button">Details<img class="action-img eye-img" src="../static/images/eye-icon.png"></button><button class="action-button edit-button">Bewerken<img class="action-img" src="../static/images/edit-icon-2.png"></button><button class="action-button delete-button">Verwijderen<img class="action-img" src="../static/images/bin-icon.png"></button></td>
        </tr>
        <tr>
            <td>Anne Fleur</td>
            <td>anne_fleur@outlook.com</td>
        </tr>
        </tbody>
    </table>

    <script src="/static/javascript/administrators-overview-javascript.js"></script>
</body>
</html>