{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/overzicht_organisatie.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}
{% block title %}Overzicht Organisaties - Accessibility Hub{% endblock %}
{% block nav_links %}
<a class= "logo-image" href="/"><img class="logo-image" src="../static/images/logo.svg" alt="Accessibility Hub Logo"></a>
<a href="/onderzoekaanvragen">Aanvraag</a>
{% endblock %}
{% block main %}
    <main>
        <h1>Overzicht Organisaties</h1>
        <div class="filters">
            <input type="text" id="naaminput" onkeyup="filter()" placeholder="Zoek organisatie naam.." aria-label="Zoek organisatie naam">
            <select name="select" id="select" onchange="filter_type()">
                <option value="">Kies Type</option>
                <option value="non-profit">Non-profit</option>
                <option value="commercieel">Commercieel</option>

            </select>
        </div>
        <div class="organisatie-table-container">
            <table>
                <thead>
                <caption>Overzicht Organisaties</caption>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Naam</th>
                    <th scope="col">Type</th>
                    <th scope="col">Website</th>
                    <th scope="col">Beschrijving</th>
                    <th scope="col">Contact Persoon</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefoonnummer</th>
                    <th scope="col" style="width:auto;">Acties</th>
                </tr>
                </thead>
                <tbody class="js-organisatietabel"></tbody>
            </table>
        </div>
    </main>
{% endblock %}
{% block scripts %}  <script src="/static/javascript/overzicht_organisatie.js"></script> {% endblock %}