<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/beheerders_dashbord.css">
</head>
<body>
<!--the three tables-->
    <main class="row">
        <section aria-labelledby="table-heading1" class="column">
            <h2 id="table-heading1">Tabel met onderzoeken</h2>
            <table class="table-clickable">
                <thead>
                    <tr>
                        <th>Titel onderzoek</th>
                        <th>Beschrijving onderzoek</th>
                        <th>Naam organisatie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Onderzoek 1</td>
                        <td>Onderzoek 1 beschrijving</td>
                        <td>Organisatie 1</td>
                    </tr>
                    <tr>
                        <td>Onderzoek 2</td>
                        <td>Onderzoek 2 beschrijving</td>
                        <td>Organisatie 2</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section aria-labelledby="table-heading2" class="column">
            <h2 id="table-heading2">Tabel met inschrijvingen</h2>
            <table class="table-clickable">
                <thead>
                    <tr>
                        <th>Titel onderzoek</th>
                        <th>Beschrijving onderzoek</th>
                        <th>Naam ervaringsdeskundige</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Onderzoek 1</td>
                        <td>Onderzoek 1 beschrijving</td>
                        <td>ervaringsdeskundige 1</td>
                    </tr>
                    <tr>
                        <td>Onderzoek 2</td>
                        <td>Onderzoek 2 beschrijving</td>
                        <td>ervaringsdeskundige 2</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section aria-labelledby="table-heading3" class="column">
            <h2 id="table-heading3">Nieuwe ervaringsdeskundigen</h2>
            <table class="table-clickable">
                <thead>
                    <tr>
                        <th>Naam ervaringsdeskundige</th>
                        <th>Leeftijd ervaringsdeskundige</th>
                        <th>Type beperking</th>
                    </tr>
                </thead>
                <tbody id="deskundigen">
                    <tr>
                        <td>ervaringsdeskundige 1</td>
                        <td>42</td>
                        <td>blind</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

<!--    &lt;!&ndash; The Modal &ndash;&gt;-->
<!--    <div id="myModal" class="modal">-->
<!--      <div class="modal-content">-->
<!--          <button class="close">&times;</button>-->
<!--          <main class="row">-->
<!--              <section class="column">-->
<!--                  <h3>Details onderzoek</h3>-->
<!--              </section>-->
<!--              <section class="column">-->
<!--                  <h3>Details ervaringsdeskundige</h3>-->
<!--              </section>-->
<!--          </main>-->
<!--      </div>-->
<!--    </div>-->
        <script src="static/javascript/beheerders_dashbord.js"></script>
</body>
</html>