{% extends 'base.html' %}
{% block title %} Overzicht beheerders {%endblock%}
{% block styles %}<link rel="stylesheet" href="../static/css/beheerders_dashbord.css">{% endblock %}

{% block nav_links %}
<a href="/dashboard">Dashboard</a>
<a href="/administrator-overview">Beheerders</a>
<a href="/api/organisatie_aanmaken">Organisatie aanmaken</a>
<a href="/api/overzicht_organisaties">Organisaties</a>
<a href="#" class="button dark-mode-toggle" onclick="darkLightMode(); return false;">Donkere/lichte modus</a>
<a href="/logout">Uitloggen</a>

{% endblock %}
{% block main %}
<main class="row">
    <section id="info" class="column">
    </section>
</main>
{% endblock %}

{% block scripts %}
    <script src="/static/javascript/beheerders_profile_js.js"></script>
    <script src="{{ url_for('static', filename='javascript/dark_mode.js')}}"></script>
{% endblock %}
