{% extends 'base.html' %}
{% block title %} Overzicht beheerders {%endblock%}
{% block styles %}<link rel="stylesheet" href="../static/css/beheerders_dashbord.css">{% endblock %}

{% block nav_links %}
<a class="logo-image" href="/"><img class="logo-image" src="../static/images/logo.svg"></a>
<a href="/dashboard">Dashboard</a>
<a href="/administrator-overview">Beheerders</a>
<a href="/logout">Uitloggen</a>
{% endblock %}
{% block main %}

{% endblock %}

{% block scripts %}
<!--    <script src="/static/javascript/..."></script>-->
{% endblock %}
