<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Open onderzoeken</title>
    <link rel="stylesheet" href="../static/css/list_research.css">
</head>
<body>
    <main class="row">
        <section aria-labelledby="table-heading1" class="column">
        <h1 id="table-heading1">Openstaande onderzoeken</h1>
        <h3>Onderzoeken voor u, klik voor meer informatie op het onderzoek wat u wilt bekijken</h3>
        <table class="table-clickable">
            <thead>
                <tr>
                    <th>Naam onderzoek</th>
                    <th>Status</th>
                    <th>Datum vanaf</th>
                    <th>Datum tot</th>
                    <th>Type onderzoek</th>
                </tr>
            </thead>
            <tbody>
                {% for onderzoeken in open_onderzoeken %}
                <tr>
                    <td>{{ onderzoeken.titel }}</td>
                    <td>{{ onderzoeken.status }}</td>
                    <td>{{ onderzoeken.datum_vanaf }}</td>
                    <td>{{ onderzoeken.datum_tot }}</td>
                    <td>{{ onderzoeken.type }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Geen onderzoeken gevonden</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>
    </main>
</body>
</html>
