{% extends 'base.html' %}
{% block title %} Overzicht ervaringsdeskundige {%endblock%}
{% block styles %}<link rel="stylesheet" href="../static/css/ervaringsdeskundige_onderzoeken.css">{% endblock %}

{% block nav_links %}
<a class="logo-image" href="/"><img class="logo-image" src="../static/images/logo.svg"></a>
<a href="/ingeschreven_onderzoeken">Mijn onderzoeken</a>
<a href="/openstaande_onderzoeken">Onderzoeken</a>
<a href="/logout">Uitloggen</a>
<a href="#" class="button dark-mode-toggle" onclick="darkLightMode(); return false;">Donkere of lichte modus</a>
{% endblock %}
{% block main %}
<main class="row">
    <section id="info" class="column">
    </section>
   <table class="table-clickable">
    <tbody>

    </tbody>
</table>
</main>
{% endblock %}

{% block scripts %}
    <script src="/static/javascript/ervaringsdeskundige_profiel.js"></script>
    <script src="{{ url_for('static', filename='javascript/dark_mode.js')}}"></script>
{% endblock %}