
{% extends 'base.html' %}
{% block title %}<title>Onderzoeken waarvoor u zich hebt ingeschreven</title> {% endblock %}
{% block styles %}<link rel="stylesheet" href="../static/css/list_research.css"> {% endblock %}

{% block nav_links %}
<a href="/openstaande_onderzoeken">Onderzoeken</a>
<a href="/myprofile_expert">Profiel</a>
<a href="#" class="button dark-mode-toggle" onclick="darkLightMode(); return false;">Donkere/lichte modus</a>
<a href="/logout">Uitloggen</a>
{% endblock %}

{% block main %}

    <main class="row">
        <section aria-labelledby="table-heading1" class="column">
        <h1 id="table-heading1">Overzicht van ingeschreven onderzoeken</h1>
        <label for="statusOnderzoek">Zoek op status van onderzoek:</label>
        <select id="statusOnderzoek" onchange="zoekTitels()">
            <option value="">Alle statussen</option>
            <option value="goedgekeurd">goedgekeurd</option>
            <option value="nieuw">in behandeling</option>
            <option value="afgekeurd">afgewezen</option>
        </select>
        <label for="zoekTitel">Zoek op naam van onderzoek:</label>
        <input type="text" id="zoekTitel" onkeyup="zoekTitels()" placeholder="Zoek op naam van onderzoek" title="Type om te zoeken op titel">
        <table class="table-clickable" id="tabelOnderzoeken">
            <thead>
                <tr>
                    <th>ID nummer</th>
                    <th>Naam onderzoek</th>
                    <th>Datum vanaf</th>
                    <th>Datum tot</th>
                    <th>Type onderzoek</th>
                    <th>Status van het onderzoek</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
            </section>
    </main>


    <section id="onderzoekPopup" class="popup hide" role="dialog" aria-labelledby="popupTitel" aria-hidden="true">
        <article class="popup-content">
            <header>
                <h2 id="popupTitel">Onderzoek details</h2>
                <button class="close-popup" aria-label="Sluit details">&times;</button>
            </header>
            <p><strong>Status:</strong> <span id="popupStatus"></span></p>
            <p><strong>Datum vanaf:</strong> <span id="popupDatumVanaf"></span></p>
            <p><strong>Datum tot:</strong> <span id="popupDatumTot"></span></p>
            <p><strong>Type:</strong> <span id="popupType"></span></p>
            <p><strong>Beschrijving:</strong> <span id="popupBeschrijving"></span></p>
            <p><strong>Beschikbare plaatsen:</strong> <span id="popupPlaatsen"></span></p>
            <p><strong>Locatie: </strong><span id="popupLocatie"></span></p>
            <p><strong>Beloning: </strong><span id="popupBeloning"></span></p>
            <p><strong>Leeftijd vanaf: </strong><span id="popupLeeftijdVan"></span></p>
            <p><strong>Leeftijd tot: </strong><span id="popupLeeftijdTot"></span></p>
        </article>
    </section>
    <script src="{{ url_for('static', filename='javascript/list_research.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/dark_mode.js')}}"></script>
</body>
</html>

{% endblock %}