{% extends 'base.html' %}
{% block title %}<title>Onderzoeken waarvoor u zich hebt ingeschreven</title> {% endblock %}
{% block styles %}<link rel="stylesheet" href="../static/css/list_research.css"> {% endblock %}
{% block nav_links %}
<a class= "logo-image" href="/"><img class="logo-image" src="../static/images/logo.svg"></a>
<a href="/openstaande_onderzoeken">Onderzoeken</a>
{% endblock %}
{% block main %}
    <main class="row">
        <section aria-labelledby="table-heading1" class="column">
        <h1 id="table-heading1">Overzicht van ingeschreven onderzoeken</h1>
        <table class="table-clickable">
            <thead>
                <tr>
                    <th>ID nummer</th>
                    <th>Naam onderzoek</th>
                    <th>Status</th>
                    <th>Datum vanaf</th>
                    <th>Datum tot</th>
                    <th>Type onderzoek</th>
                </tr>
            </thead>
            <tbody>
                {% for onderzoeken in open_onderzoeken %}
                <tr>
                    <td>{{ onderzoeken.onderzoek_id }}</td>
                    <td>{{ onderzoeken.titel }}</td>
                    <td>{{ onderzoeken.status }}</td>
                    <td>{{ onderzoeken.datum_vanaf }}</td>
                    <td>{{ onderzoeken.datum_tot }}</td>
                    <td>{{ onderzoeken.type }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">U lijkt zich nog niet te hebben ingeschreven voor een onderzoek</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            </section>
    </main>
{% endblock %}