{% extends 'base.html' %}
{% block title %}<title>Onderzoeken waarvoor u zich hebt ingeschreven</title> {% endblock %}
{% block styles %}<link rel="stylesheet" href="../static/css/list_research.css"> {% endblock %}

{% block main %}
    <main class="row">
        <section aria-labelledby="table-heading1" class="column">
        <h1 id="table-heading1">Overzicht van ingeschreven onderzoeken</h1>
        <table class="table-clickable">
            <thead>
                <tr>
                    <th>Ingeschreven onderzoeken</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Onderzoek 1</td>
                    <td>Status</td>
                    <td>Datum van onderzoek</td>
                </tr>
                <tr>
                    <td>Onderzoek 2</td>
                    <td>Status</td>
                    <td>Datum van onderzoek</td>
                </tr>
            </tbody>
        </table>
            </section>
    </main>
{% endblock %}