<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login_page_style.css">
    <title>Login</title>
</head>
<body>
    
    <h1>Inloggen</h1>
    <form action="tobeadded" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" aria-label="Voer hier uw email in" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="submit" value="Login" aria-label="Druk om in te loggen">
        <p>Heeft u geen account?<a href="sign-up-page.html" aria-label="Druk op dit button om te registreren" > Sign up!</a></p>
    </form>
</body>
</html>