{% extends 'base.html' %}
{% block styles %}<link rel="stylesheet" href="/static/css/onderzoek_aanvraag_organisaite.css"> {% endblock %}
{% block title %} Onderzoek Aanvraag {% endblock %}

{% block nav_links %}
<a href="/api/overzicht_onderzoeken">Onderzoeken</a>
<a href="#" class="button dark-mode-toggle" onclick="darkLightMode(); return false;">Donkere/lichte modus</a>
<a href="/myprofile_organisatie">Profiel</a>
<a href="/logout">Uitloggen</a>
{% endblock %}

{% block main %}
<div class="form-container">
    <form method="post">
        <h1>Onderzoek Aanvraag</h1>
        <label for="apikey">Api key:</label>
        <input type="text" name="apikey" id="apikey" aria-label="Voer api key in">
        <label for="titel">Titel:</label>
        <input type="text" name="titel" id="titel" placeholder="Titel.." aria-label="Voer het titel in" required>
        <label for="beschrijving">Beschrijving:</label>
        <textarea name="beschrijving" id="beschrijving" placeholder="Beschrijving.." aria-label="Voer het beschrijving in" required></textarea>
        <div class="datumvanaf">
            <label for="datumvanaf">Datum vanaf:</label><br>
            <input type="date" name="datumvanaf" id="datumvanaf" required>
        </div>
        <div class="datumtot">
            <label for="datumtot">Datum tot:</label><br>
            <input type="date" name="datumtot" id="datumtot" required>
        </div>
        <label for="tijd">Tijd:</label>
        <input type="time" name="tijd" id="tijd" required>
        <label for="typeonderzoek">Type onderzoek:</label>
        <select name="typeonderzoek" id="typeonderzoek" onclick="CheckLocatie()" aria-label="Kies het type onderzoek" required>
            <option value="">Kies type onderzoek:</option>
            <option value="locatie">Locatie</option>
            <option value="telefonisch">Telefonisch</option>
            <option value="online">Online</option>
        </select>
        <label for="locatie_text" id="locatie_label" style="display:none;">Locatie:</label>
        <input type="text" name="locatie_text" id="locatie_text" aria-label="Voer locatie in" placeholder="Locatie.." style="display:none;">
        <label for="metbeloning">Vergoeding?</label>
        <input type="checkbox" name="metbeloning" id="metbeloning" aria-label="Vink checkbox als vergoeding" onclick="CheckIn()">
        <label for="beloning" id="beloninglabel" style="display:none">Vergoeding:</label>
        <input type="number" name="beloning" style="display:none;" aria-label="Voer hier uw vergoeding in" id="beloning">
        <label for="disability-type-input">Beperking:</label>
        <select class="custom_select" id="disability-type-input" name="disability-type-input" multiple required size="6">
            <option value="" disabled>Kies beperking hier:</option>
            <optgroup label="Auditieve beperkingen">
                <option value="1">Doof</option>
                <option value="2">Slechthorend</option>
                <option value="3">Doofblind</option>
            </optgroup>
            <optgroup label="Visuele beperkingen">
                <option value="4">Blind</option>
                <option value="5">Slechtziend</option>
                <option value="6">Kleurenblind</option>
                <option value="7">Doofblind</option>
            </optgroup>
            <optgroup label="Motorische/lichamelijke beperkingen">
                <option value="8">Amputatie en mismaaktheid</option>
                <option value="9">Artritus</option>
                <option value="10">Fibromyalgie</option>
                <option value="11">Reuma</option>
                <option value="12">Verminderde handvaardigheid</option>
                <option value="13">Spierdystrofie</option>
                <option value="14">RSI</option>
                <option value="15">Tremor en spasmen</option>
                <option value="16">Quadriplegie of tetraplegie</option>
            </optgroup>
            <optgroup label="Cognitieve/neurologische beperkingen">
                <option value="17">ADHD</option>
                <option value="18">Autisme</option>
                <option value="19">Dyslexie</option>
                <option value="20">Dyscalculie</option>
                <option value="21">Leerstoornis</option>
                <option value="22">Geheugen beperking</option>
                <option value="23">Multiple sclerose</option>
                <option value="24">Epilepsie</option>
                <option value="25">Migraine</option>
            </optgroup>
        </select>
        <div class="leeftijdvan">
            <label for="leeftijdvan">Leeftijd van</label><br>
            <input type="number" name="leeftijdvan" id="leeftijdvan" required>
        </div>
        <div class="leeftijdtot">
            <label for="leeftijdtot">Leeftijd tot</label><br>
            <input type="number" name="leeftijdtot" id="leeftijdtot"required>
        </div>
        <button type="button" id="submit_button" class="submit_button" aria-label="onderzoek aanvragen">Aanvragen</button>
    </form>
</div>
{% endblock %}
{% block scripts %}<script src="/static/javascript/onderzoek_aanvraag_organisatie.js"></script>
<script src="{{ url_for('static', filename='javascript/dark_mode.js')}}"></script>{% endblock %}
