<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/onderzoek_aanvraag_organisaite.css">
    <title>Onderzoek Aanvraag</title>
</head>
<body>
    
    <h1>Onderzoek Aanvraag</h1>
    <form method="post">
        <label for="titel">Titel:</label>
        <input type="text" name="titel" id="titel" placeholder="Titel.." aria-label="Voer het titel in" required>
        <label for="beschrijving">Beschrijving:</label>
        <textarea name="beschrijving" id="beschrijving" placeholder="Beschrijving.." aria-label="Voer het beschrijving in" required></textarea>
        <div class="datumvanaf">
            <label for="datumvanaf">Datum vanaf:</label><br>
            <input type="date" name="datumvanaf" id="datumvanaf" required>
        </div>
        <div class="datumtot">
            <label for="datumtot">Datum tot:</label><br>
            <input type="date" name="datumtot" id="datumtot" required>
        </div>
        <label for="typeonderzoek">Type onderzoek:</label>
        <select name="typeonderzoek" id="typeonderzoek" aria-label="Kies het type onderzoek" required>
            <option value="">Kies type onderzoek:</option>
            <option value="locatie">Locatie</option>
            <option value="telefonish">Telefonish</option>
            <option value="online">Online</option>
        </select>
        <label for="metbeloning">Vergoeding?</label>
        <input type="checkbox" name="metbeloning" id="metbeloning" aria-label="Vink checkbox als vergoeding" onclick="CheckIn()">
        <label for="beloning" id="beloninglabel" style="display:none">Vergoeding:</label>
        <input type="text" name="beloning" style="display:none;" aria-label="Voer hier uw vergoeding in" id="beloning">
        <label for="disability-type-input">Beperking:</label>
        <select class="custom_select" id="disability-type-input" name="disability-type-input" multiple required size="6">
            <option value="" disabled>Kies beperking hier:</option>
            <optgroup label="Auditieve beperkingen">
                <option value="deaf">Doof</option>
                <option value="hard-of-hearing">Slechthorend</option>
                <option value="deafblind">Doofblind</option>
            </optgroup>
            <optgroup label="Visuele beperkingen">
                <option value="blind">Blind</option>
                <option value="partially-sighted">Slechtziend</option>
                <option value="color-blind">Kleurenblind</option>
                <option value="deafblind">Doofblind</option>
            </optgroup>
            <optgroup label="Motorische/lichamelijke beperkingen">
                <option value="amputation-deformity">Amputatie en mismaaktheid</option>
                <option value="arthritis">Artritus</option>
                <option value="fibromyalgia">Fibromyalgie</option>
                <option value="rheumatism">Reuma</option>
                <option value="reduced-manual-dexterity">Verminderde handvaardigheid</option>
                <option value="muscular-dystrophy">Spierdystrofie</option>
                <option value="RSI">RSI</option>
                <option value="tremor-and-spasms">Tremor en spasmen</option>
                <option value="Quadriplegia-or-tetraplegia">Quadriplegie of tetraplegie</option>
            </optgroup>
            <optgroup label="Cognitieve/neurologische beperkingen">
                <option value="ADHD">ADHD</option>
                <option value="autism">Autisme</option>
                <option value="dyslexia">Dyslexie</option>
                <option value="dyscalculia">Dyscalculie</option>
                <option value="learning-disability">Leerstoornis</option>
                <option value="memory-disorder">Geheugen beperking</option>
                <option value="multiple-sclerosis">Multiple sclerose</option>
                <option value="epilepsy">Epilepsie</option>
                <option value="migraine">Migraine</option>
            </optgroup>
        </select>
        <div class="leeftijdvan">
            <label for="leeftijdvan">Leeftijd van</label><br>
            <input type="number" name="leeftijdvan" id="leeftijdvan" required>
        </div>
        <div class="leeftijdtot">
            <label for="leeftijdtot">Leeftijd tot</label><br>
            <input type="number" name="leeftijdtot" id="leeftijdtot"required>
        </div>
        <input aria-label="onderzoek aanvragen" type="submit" value="Aanvragen">
    </form>
</body>
<script src="/static/javascript/onderzoek_aanvraag_organisatie.js"></script>
</html>