<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/onderzoek_aanvraag_organisaite.css">
    <title>Onderzoek Aanvraag</title>
</head>
<body>
    
    <h1>Onderzoek Aanvraag</h1>
    <form action="tobeadded" method="post">
        <label for="titel">Titel:</label>
        <input type="text" name="titel" id="titel" required>
        <label for="beschrijving">Beschrijving:</label>
        <textarea name="beschrijving" id="beschrijving" placeholder="Beschrijving.." required></textarea>
        <div class="datum">
            <label for="datumvanaf">Datum vanaf:</label>
            <input type="date" name="datumvanaf" id="datumvanaf" required>
            <label for="datumtot">Datum tot:</label><br>
            <input type="date" name="datumtot" id="datumtot" required>
        </div>
        <label for="typeonderzoek">Type onderzoek:</label>
        <select name="typeonderzoek" id="typeonderzoek" required>
            <option value="">Kies type onderzoek:</option>
            <option value="locatie">Locatie</option>
            <option value="telefonish">Telefonish</option>
            <option value="online">Online</option>
        </select>
        <label for="metbeloning">Met beloning?</label>
        <input type="checkbox" name="metbeloning" id="metbeloning" onclick="CheckIn()">
        <label for="beloning" id="beloninglabel" style="display:none">Beloning:</label>
        <input type="text" name="beloning" style="display:none;" id="beloning">
        <label for="disability-type-input">Beperking:</label>
        <select id="disability-type-input" name="disability-type-input" required>
            <option value="">Kies beperking:</option>
            <optgroup label="Auditieve beperkingen">
                <option value="deaf">Doof</option>
                <option value="hard-of-hearing">Slechthorend</option>
                <option value="deafblind">Doofblind</option>
            </optgroup>
            <optgroup label="Visuele beperkingen">
                <option value="blind">Blind</option>
                <option value="partially-sighted">Slechtziend</option>
                <option value="color-blind">Kleurenblind</option>
                <option value="deafblind">Doofblind</option>
            </optgroup>
            <optgroup label="Motorische/lichamelijke beperkingen">
                <option value="amputation-deformity">Amputatie en mismaaktheid</option>
                <option value="arthritis">Artritus</option>
                <option value="fibromyalgia">Fibromyalgie</option>
                <option value="rheumatism">Reuma</option>
                <option value="reduced-manual-dexterity">Verminderde handvaardigheid</option>
                <option value="muscular-dystrophy">Spierdystrofie</option>
                <option value="RSI">RSI</option>
                <option value="tremor-and-spasms">Tremor en spasmen</option>
                <option value="Quadriplegia-or-tetraplegia">Quadriplegie of tetraplegie</option>
            </optgroup>
            <optgroup label="Cognitieve/neurologische beperkingen">
                <option value="ADHD">ADHD</option>
                <option value="autism">Autisme</option>
                <option value="dyslexia">Dyslexie</option>
                <option value="dyscalculia">Dyscalculie</option>
                <option value="learning-disability">Leerstoornis</option>
                <option value="memory-disorder">Geheugen beperking</option>
                <option value="multiple-sclerosis">Multiple sclerose</option>
                <option value="epilepsy">Epilepsie</option>
                <option value="migraine">Migraine</option>
            </optgroup>
        </select>
        <div class="leeftijd">
            <label for="leeftijdvan">Leeftijd van</label>
            <input type="number" name="leeftijdvan" id="leeftijdvan" required>
            <label for="leeftijdtot">Leeftijd tot</label>
            <input type="number" name="leeftijdtot" id="leeftijdtot"required>
        </div>
        <input type="submit" value="Aanvragen">
    </form>
</body>
<script src="/static/javascript/onderzoek_aanvraag_organisatie.js"></script>
</html>