{% extends 'base.html' %}
{% block title %} My  {%endblock%}
{% block styles %}<link rel="stylesheet" href="../static/css/beheerders_dashbord.css">{% endblock %}

{% block nav_links %}

<a href="/logout">Uitloggen</a>
<a href="#" class="button dark-mode-toggle" onclick="darkLightMode(); return false;">Donkere of lichte modus</a>
{% endblock %}
{% block main %}
<main class="row">
    <section id="info" class="column">
    </section>
</main>
{% endblock %}

{% block scripts %}
    <script src="/static/javascript/organisatie_profiel.js"></script>
    <script src="{{ url_for('static', filename='javascript/dark_mode.js')}}"></script>
{% endblock %}
