<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/overzicht.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Overzicht - Accessibility Hub</title>
</head>
<body>
    <main>
        <h1>Overzicht Onderzoeken</h1>
        <table class="js-onderzoektabel">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Beschikbaarheid</th>
                <th>Leeftijd van</th>
                <th>Leeftijd tot</th>
                <th>Beperking(en)</th>
                <th style="width: 25%;">Acties</th>
            </tr>
        </table>
        <div class="modal" id="update_modal">
            <div class="modal-content">
                <span class="close_updatemodal">&times;</span>
                <h2>Wijzig onderzoek gegevens</h2>
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" required><br>
                <label for="beschrijving">Beschrijving</label>
                <textarea name="beschrijving" id="beschrijving" required></textarea><br>
                <label for="datevanaf">Datum vanaf:</label>
                <input type="date" name="datevanaf" id="datevanaf" required><br>
                <label for="datetot">Datum tot:</label>
                <input type="date" name="datetot" id="datetot" required><br>
                <input type="submit" value="Wijzig">
            </div>
        </div>
        <div class="modal" id="users_modal">
            <div class="modal-content">
                <span class="close_usersmodal">&times;</span>
                <h2>ingeschreven mensen</h2>
                <table>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
        
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <script src="/static/javascript/overzicht_onderzoeken.js"></script>
</body>
</html>