{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/overzicht.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}
{% block title %}Overzicht - Accessibility Hub{% endblock %}
{% block nav_links %}
<a href="/onderzoekaanvragen">Aanvraag</a>
{% endblock %}
{% block main %}
    <main>
        <h1>Overzicht Onderzoeken</h1>
        <div class="filters">
            <input type="text" id="idinput" onkeyup="filter()" placeholder="Zoek onderzoek id.." aria-label="Zoek onderzoek ID">
            <input type="text" id="titleinput" onkeyup="filter()" placeholder="Zoek onderzoek.." aria-label="Zoek onderzoek">
            <select name="select" id="select" aria-label="kies status" onchange="filter()">
                <option value="">Kies status</option>
                <option value="nieuw">Nieuw</option>
            </select>
            <input type="text" id="beschikbaarinput" onkeyup="filter()" placeholder="Zoek op beschikbaarheid.." aria-label="Zoek beschikbaarheid van onderzoek">
            <input type="text" id="leeftijdvaninput" onkeyup="filter()" placeholder="Leeftijd van.." aria-label="Zoek leeftijd van">
            <input type="text" id="leeftijdtotinput" onkeyup="filter()" placeholder="Leeftijd tot.." aria-label="Zoek leeftijd tot">
        </div>
        <div class="research-table-container">
            <table class="js-onderzoektabel">
                <caption>Overzicht Onderzoeken</caption>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Beschikbaarheid</th>
                    <th scope="col">Leeftijd van</th>
                    <th scope="col">Leeftijd tot</th>
                    <th scope="col">Beperking(en)</th>
                    <th scope="col" style="width:auto;">Acties</th>
                </tr>
            </table>
            <div class="updatemodal" id="update_modal">
            </div>
            <div class="usersmodal" id="users_modal">
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}  <script src="/static/javascript/overzicht_onderzoeken.js"></script> {% endblock %}